* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

#main {
    width: 100%;
    height: 100%;
}

aside {
    position: absolute;
    height: 300px;
    min-width: 300px;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#aside {
    width: 300px;
    height: 100%;
}

.controls {
    position: absolute;
    bottom: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controls > * {
    width: 300px;
    height: 100px;
    display: flex;
}

.single {
    justify-content: center;
}

.double {
    justify-content: space-between;
}

.arrow {
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    background: center / contain no-repeat url(./pix/arrow.svg);
    opacity: .4;
    border: none;
    outline: none;
}

.up { transform: rotate(-90deg) }
.left { transform: rotate(180deg) }
.down { transform: rotate(90deg) }

@media screen and (min-width:901px) {
    .controls {
        display: none;
    }
}

@media screen and (min-width: 341px) and (max-width: 900px) {
    aside {
        width: calc(100vw - 40px);
    }
}

@media screen and (max-width: 340px) {
    aside {
        min-width: auto;
        width: 100vw;
        height: 100vw;
        top: 0;
        left: 0;
    }

    #aside {
        width: 100%;
    }

    .controls > * {
        width: 100vw;
    }
}
